<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/styles.css">


</head>

<body>
  {{>header}}
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-6">
        <div class="card mb-4 box-shadow">
          <img class="course_img" src="https://img-a.udemycdn.com/course/240x135/1362070_b9a1_2.jpg" style="height:200px; width:100%; display:block;" data-holder-rendered="true" alt="udemy">
          <div class="card-body">
            <h3>React - The Complete Guide </h2>
              <div class="my_box">
                <div class="link">
                  <a class="btn abc btn-primary" href="https://www.udemy.com/course/react-the-complete-guide-incl-redux/" role="button">Enroll now</a>

                  <span class="badge badge-success" style="background-color:green;">free</span>
                  <span class="badge badge-danger" style="background-color: red;">New</span>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="card mb-4 box-shadow">
          <img class="course_img" src="https://img-a.udemycdn.com/course/240x135/1906852_93c6.jpg" style="height:200px; width:100%; display:block;" data-holder-rendered="true" alt="udemy">
          <div class="card-body">
            <h3>MongoDB - The Complete Developer's Guide </h2>
              <div class="my_box">
                <div class="link">
                  <a class="btn abc btn-primary" href="https://www.udemy.com/course/mongodb-the-complete-developers-guide/" role="button">Enroll now</a>

                  <span class="badge badge-success" style="background-color:green;">free</span>
                  <span class="badge badge-danger" style="background-color: red;">New</span>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="card mb-4 box-shadow">
          <img class="course_img" src="https://img-a.udemycdn.com/course/240x135/1778502_f4b9_11.jpg" style="height:200px; width:100%; display:block;" data-holder-rendered="true" alt="udemy">
          <div class="card-body">
            <h3>iOS 13 & Swift5- the Complete ios App Devel...</h2>
              <div class="my_box">
                <div class="link">
                  <a class="btn abc btn-primary" href="https://www.udemy.com/course/ios-13-app-development-bootcamp/" role="button">Enroll now</a>

                  <span class="badge badge-success" style="background-color:green;">free</span>
                  <span class="badge badge-danger" style="background-color: red;">New</span>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="card mb-4 box-shadow">
          <img class="course_img" src="https://img-a.udemycdn.com/course/240x135/959700_8bd2_11.jpg" style="height:200px; width:100%; display:block;" data-holder-rendered="true" alt="udemy">
          <div class="card-body">
            <h3>The Complete React Native + Hooks</h3>
              <div class="my_box">
                <div class="link">
                  <a class="btn abc btn-primary" href="https://www.udemy.com/course/the-complete-react-native-and-redux-course/" role="button">Enroll now</a>

                  <span class="badge badge-success" style="background-color:green;">free</span>
                  <span class="badge badge-danger" style="background-color: red;">New</span>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="card mb-4 box-shadow">
          <img class="course_img" src="https://img-a.udemycdn.com/course/240x135/625204_436a_2.jpg" style="height:200px; width:100%; display:block;" data-holder-rendered="true" alt="udemy">
          <div class="card-body">
            <h3>The Web Developer Bootcamp</h3>
              <div class="my_box">
                <div class="link">
                  <a class="btn abc btn-primary" href="https://www.udemy.com/course/the-web-developer-bootcamp/" role="button">Enroll now</a>

                  <span class="badge badge-success" style="background-color:green;">free</span>
                  <span class="badge badge-danger" style="background-color: red;">New</span>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="card mb-4 box-shadow">
          <img class="course_img" src="https://img-a.udemycdn.com/course/240x135/1355158_33a4_2.jpg" style="height:200px; width:100%; display:block;" data-holder-rendered="true" alt="udemy">
          <div class="card-body">
            <h3>Creative, Design thinking, and innovation for Bussiness</h3>
              <div class="my_box">
                <div class="link">
                  <a class="btn abc btn-primary" href="https://www.udemy.com/course/creativity-and-innovation-for-business/" role="button">Enroll now</a>

                  <span class="badge badge-success" style="background-color:green;">free</span>
                  <span class="badge badge-danger" style="background-color: red;">New</span>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
